<form action="/users/sign-in" method="post">
    <input type="text" name="email_or_username" class="form-control" placeholder="Enter Email or Username"><br>
    <input type="password" name="password" class="form-control" placeholder="Password"><br>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>